<div class="container">
  <%= simple_form_for @room do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.input :room_type, as: :select, collection: %w[shared exclusive], prompt: 'Select Room Type', label: "Room Type" %>
    <%= f.input :value %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</diV>
