<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>Rooms:</h1>
    </div>
  </div>

  <div class="row">
      <form class="col-12 justify-content-center form-inline my-2">
        <input
          class="form-control mr-sm-2"
          name="keyword"
          type="search"
          placeholder="Search"
          aria-label="Search"
          value="<%= params[:keyword] %>"
        >
        <button class="btn btn-outline-success my-2" type="submit">
          Search
        </button>
      </form>
  </div>


  <div class="row">
    <div class="col-12">
      <% if @keyword %>
        <p>You searched for <strong><%= @keyword %></strong>. We found <%= @rooms.count %> rooms out of our <%= Room.where(available: true).count %> on our website.</p>
      <% else %>
        <p>All <%= Room.where(available: true).count %> rooms.</p>
      <% end %>
    </div>
  </div>
</div>

<div class="container-fluid container py-3 mt-4">
  <div class="row">
    <div class="col-sm-12 col-lg-8  d-flex flex-wrap">
      <% @rooms.each do |room| %>
        <div class="col-12 col-lg-4">
          <div class="room-card">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <% room.photos.each_with_index do |photo, index| %>
                  <div class="carousel-item<%=" active" if index == 0%>">
                    <%= cl_image_tag photo.key, class: "d-block w-100", width: 400, height: 300, crop: :lfill %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="room-card-content">
              <div class="room-card-title">
                <h4><%= room.title %></h4>
                <p><%= room.address %></p>
              </div>
              <div class="flex-align ">
                <span><%= room.room_type %></span>
                R$<%= room.value %>
              </div>
            </div>
            <div class="room-card-actions">
              <% if policy(room).show? %>
                <%= link_to 'More', room_path(room) %>
              <% end %>
              <% if policy(room).edit? %>
                <%= link_to 'Edit', edit_room_path(room), class: 'ml-3 text-warning' %>
              <% end %>
              <% if policy(room).destroy? %>
                <%= link_to "Remove", room_path(room),
                    method: :delete,
                    data: { confirm: "Are you sure?" },
                    class: 'ml-3 text-danger'
                %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-lg-4"
      id="map"
      style="width: 100%; height: 100vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>

<%# d-none d-lg-block d-xl-none %>
