<div class='container'>
  <h1><%= @room.title %></h1>
  <h2><%= @room.description %></h2>
  <h2><%= @room.value.round(2) %></h2>
  <p><%= @room.address %></p>


<%= link_to 'Vagas' , rooms_path %>
<%= link_to 'delete' , room_path(@room), method: :delete , data: { confirm: 'Você tem certeza que quer deletar?' } %>
