<div class='container'>

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% @room.photos.each_with_index do |photo, index| %>
      <div class="carousel-item<%=" active" if index == 0%>">
        <%= cl_image_tag photo.key, class: "d-block w-100" %>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </button>
  <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </button>
  </div>

  <h1><strong><%= @room.title %></strong></h1>
  <h3 class="m-2"><small><%= @room.address %></small></h3>
  <h6 class="m-2">Tipo de quarto: <%= @room.room_type %></h6>
  <h6 class="m-3"><%= @room.description %></h6>
  <h5 class="m-2">R$<%= @room.value.round(2) %> por mês</h5>

  <% if current_user != @room.user && user_signed_in?%>
    <h4 class="mt-5">Deseja se juntar a nossa república?</h4>
    <%= simple_form_for @match do |f| %>
      <%= f.hidden_field :room_id, :value=> params[:id] %>
      <%= f.input :start_date, as: :date, html5: true %>
      <%= f.input :end_date, as: :date, html5: true %>
      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  <% end %>
<br>
<br>
<br>
<br>
<br>
</div>
