<div class="card2-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/98Elr-LIvD8)">
 Minhas Solicitações <%= Match.count %> pedido(s)
</div>
<br>
<div class="container">
  <div class="list-group">
    <% @matches.each do |match|%>
    <div class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Requisição <%= match.id %></h5>
        <small><%= match.created_at %></small>
      </div>
      <p class="mb-1"><%= match.user.name %> deseja entrar na república <%= match.room.title %> e quer ficar no período  de (<%= match.start_date %>) até (<%= match.end_date %>)!</p>
      <small><%= link_to 'Detalhes', match_path(match) %></small>
    </div>
    <% end %>
  </div>
</div>
